html, body {
  height: 100%;
  width: 100%;
	background-color: #EDE4F5;
}

#title{
	color: #FFFFFF;
	background-color: #E87E23;
	border: 2px dotted;
	border-color: #FFFFFF;
}

#footer{
	color: #e18686;
	background-color: #FFFFFF;
	border: 10px dashed;
	border-color: #e18686;
}

.green{
	background-color:#BFDBD2;
	border: 2px solid;
	border-radius: 25px;
	border-color: #FFFFFF;
}

.yellow{
	background-color:#F2EBC7;
	border: 2px solid;
	border-radius: 25px;
	border-color: #FFFFFF;
}

.blue{
	background-color:#c7d7f2;
	border: 2px solid;
	border-radius: 25px;
	border-color: #FFFFFF;
}

.purp{
	background-color:#cec7f2;
	border: 2px solid;
	border-radius: 25px;
	border-color: #FFFFFF;
}

.pink{
	background-color:#e8bbdd;
	border: 2px solid;
	border-radius: 25px;
	border-color: #FFFFFF;
}


div {
	border: 2px solid;
	padding: 10px;
	margin: 5px;
	background-color: #e8bbdd;
}