body {
  margin: 0;
  padding: 0;
}

#head, #foot {
  background-color: brown;
  height: 100px;
}

#main-content {
  padding: 50px 100px;
  min-height: calc(100vh - 300px);
}

#banner {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: x-large;
}

#game {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#total-counts {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 50px;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
  
} .button {
  border-radius: 5px;
  height: 50px;
  width: 125px;
}#draw {
  background-color: lightcoral;
} #continue {
  background-color: lightgreen;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.total {
  font-size: larger;
}

.winner {
  border: 10px yellow solid;
  /* box-shadow: 1px, 1px, yellow; */
}