body {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  background-color: lightgrey;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 20px;
}

li {
  font-size: larger;
  margin-bottom: 20px;
}

.sub-li {
  margin: 2px;
}

.button,  .button:visited {
  border: 2px solid green;
  color: darkgreen;
  margin: 5px;
  padding: 10px 15px;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
} .button:hover {
  background-color: green;
  color: white;
}

.bold {
  font-weight: bold;
}