body {
  margin: 0;
  background-color: #a3b18a;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}

.footer {
  height: 120px;

  margin-top: 100px;
  padding-top: 20px;
  border-top: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
} .footer a:hover {
  color: #3a5a40;
}

.logo {
  height: 30px;
  border-radius: 50%;
}

.foot-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Insert @Media queries here! */
@media (max-width: 1200px) {
  .footer {
    flex-direction: column-reverse;
  }
  .foot-item {
    justify-content: center;
    flex-wrap: wrap;
  }
}