body {
  margin: 0px;
}

img {
  height: 80px;
}

#navbar-one {
  height: 60px;
  padding: 10px;
  background-color: lightgray;
}

#navbar-two {
  height: 120px;
  padding: 10px;
  background-color: whitesmoke;
}

.item {
  margin: 10px;
}

.album {
  margin: 0 50px;
}

#circle {
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50%;
}
