body {
  margin: 0px;
}

.footer {
  height: 150px;
  background-color: whitesmoke;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;

  /* display:flex and justify-content */
  display: flex;
  justify-content: space-around;
}

.title {
  font-weight: bold;
  font-size: 12px;

  /* display:flex and align-items */
  display: flex;
  align-items: center;
}

.info {
  font-size: 10px;
}

footer .item {
  padding: 10px;
  width: 150px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;

  /* display:flex and flex-direction */
  display: flex;
  flex-direction: column;
}

#circle {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

/* justify-content */
#one,
#three {
  justify-content: space-between;
}
