body {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: ivory;
}

img {
  width: 300px;
} img:hover {
  box-shadow: 0px 0px 10px 2px;
}

.p {
  padding: 10px;
  font-size: larger;
}

.h2 {
  color: brown;
  margin-top: 20px;
}

.container {
  margin: 50px;
}

.side-card {
  display: flex;
  width: 80%;
  padding: 50px 30px;
  background-color: white;
  border: brown solid 3px;
  border-radius: 5px;
  gap: 20px;
}

.outro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a, a:active, a:visited {
  color: black;

} a:hover {
  font-weight: bold;
} 