body {
    background-color: lightblue;
    background-image: url("poopy.png");
    color: #0000FF;
}

h2 {
  color: #FFFFFF;
  text-align: center;
}

#pagetitle {
    background-color: tomato;
    text-align: center;
    padding: 50px;
    border: solid;
    border-width: 5px;
    margin: 20px;

}
.center{
    display: block;
    
}