body {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container img {
  height: 200px;
}

del {
  color: grey;
}

.container {
  margin: 30px;
  padding: 10px;
  border-style: solid;
  border-color: green;
}

.container .item {
  margin: 0 5px;
  padding: 5px;
  width: 250px;
}
