body {
  margin: 0px;
}

.footer {
  height: 300px; /* change this to 150px when you're done*/
  background-color: whitesmoke;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.title {
  font-weight: bold;
  font-size: 12px;
}

.info {
  font-size: 10px;
}

footer .item {
  padding: 10px;
  width: 150px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

#circle {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
