@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  min-height: 100vh;
}

#main-title {
  font-family: 'Merriweather', serif;
}

div.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

table {
  height: 400px;
  margin-bottom: 50px;
}

#personality-grid {
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}