body {
  min-height: 100vh;
}

#results-holder {
  min-width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
  justify-content: center;
}

/* .card {
  min-width: 300px;
} */
